
<div class="detail-basic row col-xs-12">
    <span class="label col-sm-12"><b>Details:</b></span>
    <div class="col-xs-12">
        <span class="label col-xs-5" control="ManufactureEdit.label" controlid="lblManuName" rlabel="Manufacturer Name">Manufacturer Name <span style="color:red;">*</span></span>
        <input class="col-sm-7" type="text" control="ManufactureEdit.textBox" tabindex="1" rlabel="Manufacturer Name"  controlId="txtManufactureName">

    </div>
    <div class="col-xs-12">
        <span class="label col-sm-5" control="ManufactureEdit.label" controlid="lblMobile no" rlabel="Mobile no">Mobile No</span>
        <input class="col-sm-7" type="text" control="ManufactureEdit.textBox" tabindex="2" rlabel="Mobile No" maxlength="10" controlId="txtManufacturePhoneNo">

    </div>
    <div class="col-xs-12">
        <span class="label col-sm-5" control="ManufactureEdit.label" controlid="lblEmail" rlabel="Email">Email</span>
        <input class="col-sm-7" type="text" control="ManufactureEdit.textBox" tabindex="3" rlabel="Email Id" controlId="txtManufactureEmail">

    </div>
    <div class="col-xs-12" style="display:none;">
        <span class="label col-sm-4" control="ManufactureEdit.label" controlid="lblAddress" rlabel="Address">Address</span>
        <input class="col-sm-8" type="text" control="ManufactureEdit.textBox" tabindex="4" controlId="txtManufactureAddress">
    </div>
    <div class="col-xs-12" style="display:none;">
        <span class="label col-sm-4" control="ManufactureEdit.label" controlid="lblManufacturer" rlabel="Manufacturer">Manufacturer</span>
        <span class="col-sm-8"><input type="checkbox" controlId="chkActive" control="ManufactureEdit.chkBox" name="man_active"><span class="label" rlabel="Active" style="margin-top:-22px;margin-left:5px;">Active</span></span>
    </div>
    <span class="label col-xs-12" style="margin-bottom: 5px" rlabel="Address"><b>Address</b></span>
    <div class="col-xs-12 col-lg-12">
        <span class="label  col-xs-12 col-lg-5" rlabel="Address Line">Address Line</span>
        <input class="col-xs-12 col-lg-7" rlabel="Address Line" tabindex="5" controlId="txtAddressLine1" control="ManufactureEdit.textBox" />
    </div>
    <div class="col-xs-12">
        <span class="label  col-xs-12 col-lg-5" rlabel="Street">Street</span>
        <input class="col-xs-12 col-lg-7" rlabel="Street" tabindex="6" controlId="txtAddressLine2" control="ManufactureEdit.textBox" />
    </div>
    <div class="col-xs-12">
        <span class="label  col-xs-12 col-lg-5" rlabel="Pincode">Pincode</span>
        <input class="col-xs-12 col-lg-7" rlabel="Pincode" tabindex="7" controlId="txtPincode" control="ManufactureEdit.autoCompleteList" />
    </div>
    <div class="col-xs-12">
        <span class="label  col-xs-12 col-lg-5" rlabel="City">City</span>
        <input class="col-xs-12 col-lg-7" rlabel="City" tabindex="8" controlId="txtCity" control="ManufactureEdit.autoCompleteList"/>
    </div>
    <div class="col-xs-12">
        <span class="label  col-xs-12 col-lg-5" rlabel="State">State</span>
        <input class="col-xs-12 col-lg-7" rlabel="State" tabindex="9" controlId="txtState" control="ManufactureEdit.autoCompleteList" />
    </div>
</div>
